* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --red: #bd4f6c;
  --yellow: #f0cf65;
  --green: #a1c181;
  --blue: #619b8a;

  --light: #ddedaa;
  --mid: #d7816a;
  --dark: #1d1a31;

  color: var(--mid);
  font: 20px/1 sans-serif;
}

.wrapper {
  background-color: --var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.header {
  background-color: --var(--red);
  align-items: center;
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: space-between;
  margin-bottom: 2rem;

 
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  border: 2px;
  justify-content: center;
  align-items: space-between;
  border-color: var(--light);
  position: relative;
  justify-content: space-between;
}

.post{
  margin-top: 20rem;
}

footer {
  background-color: --var(--red);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: 2rem;

}

.footer {
  margin-top: 10rem;
  background-color: --var(--red);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.nav {
  text-align: center;
  margin: 10px 0 0;
  padding: 0;
  position: relative;
}

.nav_links {
  list-style: none;
  font-size: 1.25rem;
  margin: 2px;
}

.nav_links-items {
  display: inline-block;
  font-size: 25px;
  padding: 8px 8px;
  align-items: center;

}
