<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Authors</title>
  </head>
  <header>
    <h1>
      Authors:
    </h1>
  </header>
  <body>
    <section class="authors">
      <p th:each="author: ${authors}">
        <a
          class="author__names"
          th:text="${author.name}"
          th:href="|/authors/${author.id}|"
          >Author name
        </a>
      </p>
    </section>
    <footer>
      <small>&copy Lawrence & Isaac</small>
    </footer>
  </body>
</html>
