<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Genres</title>
  </head>
  <body>
    <header>
      <h1>Genres</h1>
    </header>
    <section class="genre">
      <h1 th:each="genre:${genres}">
        <p class="genre__name" th:text="${genre.name}">
          Genre Name
        </p>
      </h1>
    </section>
    <footer>
      <small> &copy Lawrence & Isaac </small>
    </footer>
  </body>
</html>
