<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Genres</title>
  </head>
  <body>
    <header>
      <h1>Genres</h1>
    </header>
    <section class="genre">
      <p th:each="genre: ${genres}">
        <a
          class="genres__name"
          th:text="${genre.name}"
          th:href="|/genres/${genre.id}|"
          >Genre Name
        </a>
      </p>
    </section>
    <footer>
      <small> &copy Lawrence & Isaac </small>
    </footer>
  </body>
</html>
