<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Genres</title>
  </head>
  <body>
    <header>
      <h1>Genres</h1>
      <nav class="nav_links">
        <ul class="individual__nav__links">
          <li class="genre__link"><a href="/genres"> Genres</a></li>
          <li class="authors__link"><a href="/authors"> Authors</a></li>
          <li class="tags__link"><a href="/tags"> Tags</a></li>
          <li class="posts__link"><a href="/posts"> Posts</a></li>
        </ul>
      </nav>
    </header>
    <section class="genre">
      <p th:each="genre: ${genres}">
        <a
          class="genres__name"
          th:text="${genre.name}"
          th:href="|/genres/${genre.id}|"
          >Genre Name
        </a>
      </p>
    </section>
    <footer>
      <small> &copy Lawrence & Isaac </small>
    </footer>
  </body>
</html>
