<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="./css/style.css"></link>
    <title>Posts</title>
  </head>
  <body>
      <header class="header">
        <h1>
          Posts:
        </h1>
        <nav class="nav_links">
          <ul class="individual__nav__links">
            <li class="genre__link"><a href="/genres"> Genres</a></li>
            <li class="authors__link"><a href="/authors"> Authors</a></li>
            <li class="tags__link"><a href="/tags"> Tags</a></li>
            <li class="posts__link"><a href="/posts"> Posts</a></li>
          </ul>
        </nav>
      </header>
      <div class="container">
      <section class="post">
        <p th:each="post: ${posts}">
          <a
            class="posts__title"
            th:text="${post.title}"
            th:href="|/posts/${post.id}|"
            >Post Title
          </a>
        </p>
      </section>
    </div>
      <section class="add__post">
        <form action="/add" method="POST">
          <input type="text" name="title" placeholder="title" />
          <input type="text" name="body" placeholder="body" />
          <button type="submit">Submit</button>
        </form>
      </section>
    
      <footer>
        <small>&copy Lawrence & Isaac</small>
      </footer>
  </body>
</html>
